*{
  margin: 10px;
  padding: 0;
 
}
.container{
  position: relative;
  text-align: center;
  color: white;
  
}

.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h5{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.h3{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}

.off{
  color: #F00;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
  position: center;
  left: 850px;
  bottom: 150px;
  
  
}